@include media($laptop) {

  .hero-heading {
    font-size: 3em;
  }

  .hero-text {
    padding-left: 11em;
    padding-right: 11em;
  }

  .hero-nav-brand {
    display: inline-block;
  }

  .header-logo-brand {
    display: none;
  }

  .invite-form {
    margin-left: 12em;
    margin-right: 12em;
  }

  .features-section {
    padding-left: 2em;
    padding-right: 2em;
  }

  footer {
    padding-left: 1em;
  }

  .features-section {
    padding-top: 2em;
  }

  .features-intro {
    position: relative;
    top: 5em;
  }

  .feature,
  .features-intro {
    @include span-columns(6 of 12);
    @include omega(2n);
  }

  .footer-location-container {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  .footer-nav {
    @include span-columns(2 of 4);
    @include omega(2n);
  }

  .copyright-container {
    @include span-columns(12 of 12);
  }

}
