@include media($large-screen) {

  header {
    background-image: url('../../images/header-background.png');
    background-position: 0% 44%;
    background-size: cover;
    height: 600px;
  }

  .hero-nav {
    padding-left: 25em;
    padding-right: 25em;
  }

  .hero-heading {
    font-size: 3em;
  }

  .hero-text {
    padding-left: 35%;
    padding-right: 35%;
  }

  .hero-nav-brand {
    display: inline-block;
  }

  .header-logo-brand {
    display: none;
  }

  .invite-form {
    margin-left: 35%;
    margin-right: 35%;
  }

  .features-section {
    padding-left: 2em;
    padding-right: 2em;
  }

  footer {
    padding-left: 1em;
  }

  .features-section {
    padding-top: 2em;
  }

  .features-intro {
    position: relative;
    top: 5em;
  }

  .feature,
  .features-intro {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  .footer-location-container {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  .footer-nav {
    @include span-columns(2 of 4);
    @include omega(2n);
  }

  .copyright-container {
    @include span-columns(12 of 12);
  }

}
