@include media($tablet) {
  .hero-text {
    padding-left: 2em;
    padding-right: 2em;
  }

  .invite-form {
    margin-left: 2em;
    margin-right: 2em;
  }

  .features-section {
    padding-left: 2em;
    padding-right: 2em;
  }

  footer {
    padding-left: 1em;
  }
}
