/*==========================================
COLORS
==========================================*/
$nav-bright-red: #FB2C59;
$button-orange: #F6941E;
$button-gradient-pink: #F44481;
$features-app-purple: #420B4D;
$heading-pink: #DF2973; /*feature-headers & footer-headers*/
$base-text-color: #848484;
$footer-gray: #E2E2E2;
$footer-blue: #465E87;
$footer-blue-darker: #416589; /* may need for bold text? or social icons */
$features-lily-white: #EBEBEB;
$sticky-nav-gray: #2C2C2C;
