@import '../../../bower_components/reset-css/_reset';
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

/*==========================================
COLORS
==========================================*/
$nav-bright-red: #FB2C59;
$button-orange: #F6941E;
$features-app-purple: #420B4D;
$heading-pink: #DF2973; /*feature-headers & footer-headers*/
$base-text-color: #848484;
$footer-blue: #7B92A9;
$footer-blue-darker: #416589; /* may need for bold text? or social icons */


/*==========================================
UNIVERSAL
==========================================*/

.main-container {
  @include outer-container(1200px);
}


/*==========================================
HEADER
==========================================*/

/*==========================================
BODY
==========================================*/

/*==========================================
FOOTER
==========================================*/
