@import '../../../bower_components/reset-css/_reset';
@import '../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../bower_components/neat/app/assets/stylesheets/neat';

/*==========================================
COLORS
==========================================*/
$nav-bright-red: #FB2C59;
$button-orange: #F6941E;
$features-app-purple: #420B4D;
$heading-pink: #DF2973; /*feature-headers & footer-headers*/
$base-text-color: #848484;
$footer-blue: #7B92A9;
$footer-blue-darker: #416589; /* may need for bold text? or social icons */


/*==========================================
MEDIA-BREAKPOINTS
==========================================*/

/* $mobile: new-breakpoint(min-width 320px max-width 549px);
 */$tablet: new-breakpoint(min-width 550px max-width 799px);
$laptop: new-breakpoint(min-width 800px max-width 1199px);
$desktop: new-breakpoint(min-width 1200px);

/*==========================================
UNIVERSAL
==========================================*/

.main-container {
  @include outer-container(1200px);
}

img {max-width:100%;}

/*==========================================
HEADER
==========================================*/

.hero-nav {
  height: 30px;
}

header {
  height: 502px;
  background-image: url('../../images/header-background-min.png');
}

.header-logo {
  margin-top: 150px;
  height: 75px;
}

/*==========================================
BODY
==========================================*/

/*==========================================
FOOTER
==========================================*/
